<template name="navbar">

 <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Product Reviewer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            <li><a href="{{pathFor 'featured'}}">Featured Products</a></li>
            <li><a href="{{pathFor 'products'}}">All Products</a></li>
            {{#if currentUser}}
            <li><a href="{{pathFor 'add_product'}}">Add Product</a></li>
            {{/if}}

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Product-Categories<span class="caret"></span></a>
              <ul class="dropdown-menu">
                {{#each categories}}
                    <li><a href="/categories/{{slug}}" >{{name}}</a></li>
                {{/each}}
                <li role="separator" class="divider"></li>
              </ul>
            </li>

          </ul>
           <ul class="nav navbar-nav navbar-right">
            {{> loginButtons}} <!-- here -->
           </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
</template>